### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# check data for discrepancies
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [2]:
# check table headers
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# count using SN header for total players
total_players = len(purchase_data["SN"].value_counts())

sum_of_players = pd.DataFrame({"Total Players": [total_players]})
sum_of_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# find unique items, avg price, total number of purchases and total rev
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchase = purchase_data["Purchase ID"].count()
revenue = purchase_data ["Price"].sum()

#create summary table
summary = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Purchase Price": ["${:,.2f}".format(avg_price)], 
                        "Total Number of Purchases": [num_purchase], "Total Revenue": ["${:,.2f}".format(revenue)]})

summary

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# checking values in Gender column
purchase_data.Gender.unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [6]:
# find the number of male, female and other players
male = purchase_data.loc[purchase_data["Gender"]== "Male", "SN"].nunique()
female = purchase_data.loc[purchase_data["Gender"]== "Female", "SN"].nunique()
other = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed", "SN"].nunique()

# find percentage and format
male_pct = "{:.2%}".format(male/purchase_data["SN"].nunique())
female_pct = "{:.2%}".format(female/purchase_data["SN"].nunique())
other_pct = "{:.2%}".format(other/purchase_data["SN"].nunique())

# create sumamry table
gender_summary = pd.DataFrame({"":["Male", "Female", "Other/Non-Disclose"], "Total Count": [male, female, other],
                              "Percentage of Players": [male_pct, female_pct, other_pct]})
gender_summary = gender_summary.set_index("")
gender_summary

                    Total Count Percentage of Players

Male                        484                84.03%
Female                       81                14.06%
Other/Non-Disclose           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# create calculations for purchase count, avg purchase price, total purchase value and avg purchase total by gender
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
avg_purchase_total = purchase_data.groupby(["Gender"]).mean()["Price"]
purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"]

avg_purchase_ppax = purchase_total/purchase_data.groupby(["Gender"]).nunique()["SN"]

# create summary table
gen_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_total.map("${:.2f}".format),
                            "Total Purchase Value": purchase_total.map("${:.2f}".format),
                            "Average Total Per Person": avg_purchase_ppax.map("${:.2f}".format)})

gen_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# create age bins 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# create age category
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-4", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_ranges)

new_age_bin = purchase_data.groupby("Age Ranges")

# calculate count and percentages of players by age
ages_count = new_age_bin["SN"].nunique()
age_pct = ages_count/total_players * 100

#create summary table and display as percentage
age_demo = pd.DataFrame({"Total Count": ages_count, "Percentage of Players": age_pct})
age_demo.index.name = None
age_demo.style.format({'Percentage of Players': "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# find purchase count
purchase_count= new_age_bin["Purchase ID"].count()
# find average purchase price
avg_purchase = new_age_bin["Price"].mean()
# find total purchase price
total_purchase = new_age_bin["Price"].sum()
avg_total_pp = total_purchase/ages_count

age_spend_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase.map("${:.2f}".format),
                                    "Total Purchase Price": total_purchase.map("${:.2f}".format),
                                    "Average Total Purchase Per Person": avg_total_pp.map("${:.2f}".format)})

age_spend_analysis.index.name = None
age_spend_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-4,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# find the top spends in game
sn_df = purchase_data.groupby("SN")

sn_purchase_count = sn_df["Purchase ID"].count()
avg_sn_purchase_price = sn_df["Price"].mean()
sn_purchase_total= sn_df["Price"].sum()


# create summary table
top_spenders= pd.DataFrame({"Purchase Count": sn_purchase_count, "Average Purchase Price": avg_sn_purchase_price,
                            "Total Purchase Price": sn_purchase_total})

# sort and format to obtain top 5 
sort_top_spenders= top_spenders.sort_values(["Total Purchase Price"], ascending=False).head()
sort_top_spenders.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# create and isolate item related columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# create groups
items_group = items_df.groupby(["Item ID", "Item Name"])

# create summary table to calculate purchase count, average item price and total purchase value
item_purch = items_group["Price"].count()
purch_value = items_group["Price"].sum()
item_price = purch_value/item_purch

#Create popular_items_df
popular_items = pd.DataFrame({"Purchase Count": item_purch, "Item Price": item_price,"Total Purchase Value": purch_value})

# Sort and format summary table
sorted_pop_items = popular_items.sort_values(["Purchase Count"], ascending=False).head()
sorted_pop_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
 # find profitable item and format table to reflect
profitable_items = sorted_pop_items.sort_values(["Total Purchase Value"], ascending=False).head()
profitable_items.style.format({"Item Price": '${:,.2f}', "Total Purchase Value": '${:,.2f}'})